# This script is used to scrape real news from the times of india

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
home = 'https://timesofindia.indiatimes.com/india/'
home_urls = []

In [3]:
for i in range(2,13):
    home_urls.append(home + str(i))

In [4]:
def getNewLinks(arr):
    newLinks = []
    for i in arr:
        page = requests.get(i)
        soup = BeautifulSoup(page.content , 'html.parser')
        div2 = soup.find('ul' , class_ = 'top-newslist clearfix')
        for i in div2.find_all( href = True):
            newLinks.append(i['href'])
        div3 = soup.find_all('ul' , class_='list5 clearfix')
        for i in div3[0].find_all(href = True):
            newLinks.append(i['href'])
        for i in div3[0].find_all(href = True):
            newLinks.append(i['href'])
    add = 'https://timesofindia.indiatimes.com'
    return ([add+w for w in newLinks])

In [5]:
newsLinks = getNewLinks(home_urls)

In [6]:
len(newsLinks)

264

In [7]:
def getNews(arr):
    allNews = []
    for i in arr:
        page = requests.get(i)
        soup = BeautifulSoup(page.content , 'html.parser')
        newsSoup = soup.find('div' , class_='_3WlLe clearfix')
        if newsSoup:
            allNews.append(newsSoup.get_text())
    return allNews

In [8]:
allNews = getNews(newsLinks)

In [9]:
newsDF = pd.DataFrame()

In [10]:
newsDF['news'] = allNews

In [11]:
newsDF['label'] = ['True' for _ in range(len(newsDF))]

In [12]:
newsDF.head(10)

                                                news label
0  NEW DELHI: Shops selling educational books and...  True
1  NEW DELHI: Shops selling educational books and...  True
2  UNITED NATIONS: India has co-sponsored a UN Ge...  True
3  NEW DELHI: In the wake of a large number of me...  True
4  AMARAVATI: Coronavirus cases crossed the 800 m...  True
5  NEW DELHI: Avinash and Kirti had an online wed...  True
6  KOLKATA: Describing the Covid-19 pandemic as t...  True
7  NEW DELHI: Controversial given the high risk o...  True
8  NEW DELHI: With 1383 new cases and 50 fataliti...  True
9  SRINAGAR: Two terrorists were killed in an enc...  True

In [13]:
newsDF.to_csv('realNews.csv')